@charset "UTF-8";

body {
    font-family: sans-serif;
    background-color: #FFF096;
}

h1 {
    text-align: center;
    color: #615b36;
}

h2 {
    text-decoration: underline;
    color: #615b36;
}

hr {
    border: 1px solid;
    color: #615b36;
}

.sobre {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.container {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.curiosidades h2{
    text-align: center;
}

.curiosidades ul{
    margin-left: auto;
    margin-right: auto;
    width: 22%;
}

.contato h2{
    text-align: center;
}

.github {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 8%;
}

.email {
    display: flex;
}